include partials/header

section.hero-wrap.hero-wrap-2(style="background-image: url('/images/bg_4.jpg');" data-stellar-background-ratio='0.5')
    .overlay
    .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
            .col-md-9.ftco-animate.text-center
                h1.mb-2.bread(style='margin-top:50px;') Database
                p.breadcrumbs
                    span.mr-2
                        a(href='/eventDatabase')
                            | Event DataBase
                p.breadcrumbs
                    span.mr-2
                        a(href='/contactDatabase')
                            | Contact DataBase
                p.breadcrumbs
                    span.mr-2
                        a(href='/userDatabase')
                            | User DataBase

// ============ content =====================
section.gallery-area.section-gap.mt-172
.container
  .row.align-items-center
    .col-lg-6.col-md-5.col-sm-6
      .single-gallery.mt--350
        table.table.table-bordered.table-hover.table-striped
          thead
            tr
              th Name
              th Email
              th Phone Number
              th Date
              th Time
              th Persons
          tbody
            each event in events
              tr
                td= event.name
                td= event.email
                td= event.phoneNumber
                td= event.date
                td= event.time
                td= event.persons
                td
                  form(action= `/event/delete/${event.id}`, method='POST', onsubmit="return('Are you sure you want to delete this');")
                    .form-group
                      button.btn.btn-sm.btn-danger(type='submit')
                        i.fas.fa-trash-alt.fa-sm
                        | Delete
                  form(action= `/event/edit/${event.id}`, method='POST', onsubmit="return('We will edit this entry');")
                    .form-group
                      button.btn.btn-sm.btn-primary(type='submit')
                        i.fas.fa-pencil-square-o.fa-sm
                        | Edit
                  form(action= `/event/get-report/${event.id}`, method='POST', onsubmit="return('Now we updated and saved the information');")
                    .form-group
                      input(type='hidden', name='_csrf', value=_csrf)
                      button.btn.btn-sm.btn-info(type='submit')
                        i.fas.fa-file-download.fa-sm
                        | Save
                  form(action= `/event/send-email/${event.id}`, method='POST', onsubmit="return('Now we updated and saved the information');")
                    .form-group
                      input(type='hidden', name='_csrf', value=_csrf)
                      button.btn.btn-sm.btn-success(type='submit')
                        i.fas.fa-paper-plane.fa-sm
                        | Email
            tr
              th
              th
              th
              th

                  form(action= `/event/delete-page/${currentPage}`, method='POST', onsubmit="return('Now we updated and saved the information');")
                      .form-group
                          input(type='hidden', name='_csrf', value=_csrf)
                          button.btn.btn-sm.btn-danger(type='submit')
                              i.fas.fa-trash-alt.fa-sm
                              | Delete page
              th
                  form(action= `/event/save-page/${currentPage}`, method='POST', onsubmit="return('Now we updated and saved the information');")
                      .form-group
                          input(type='hidden', name='_csrf', value=_csrf)
                          button.btn.btn-sm.btn-info(type='submit')
                              i.fas.fa-file-download.fa-sm
                              | Save page
              th
                  form(action= `/event/send-email-page/${currentPage}`, method='POST', onsubmit="return('Now we updated and saved the information');")
                      .form-group
                          input(type='hidden', name='_csrf', value=_csrf)
                          button.btn.btn-sm.btn-success(type='submit')
                              i.fas.fa-paper-plane.fa-sm
                              | Email page
      nav.blog-pagination.justify-content-center.d-flex
        ul.pagination
          if currentPage!==1 && previousPage !==1
              li.page-item
                a.page-link(href=`/eventDatabase/?page=1`) 1
          if hasPreviousPage
              li.page-item
                a.page-link(href=`/eventDatabase/?page=${ previousPage}`)= previousPage
          li.page-item.active
            a.page-link(href=`/eventDatabase/?page=${ currentPage}`)= currentPage
          if hasNextPage
              li.page-item
                a.page-link(href=`/eventDatabase/?page=${ nextPage}`)= nextPage
include partials/footer
